<%- include ('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <h2 style="font-size: 100%; text-align: center; font-weight: bold; letter-spacing: 0.2em;">Categorias</h2>
    <a class="btn btn-success form-control" href="/admin/categories/new" style="font-weight: bold; letter-spacing: 0.1em;">CRIAR NOVA CATEGORIA</a>
    <hr>

    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr style="text-align: center;">
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category => { %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th style="display: flex; justify-content: space-around;">
                            <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning"><img src="../../img/edit32.png" title="editar categoria" alt="editar categoria"></a>
                            <form method="POST" action="/categories/delete" onsubmit="confirmExclusion(event, this)">
                                <input type="hidden" name="id" id="id" value="<%= category.id %>">
                                <button class="btn btn-danger"><img src="../../img/del32.png" title="excluir categoria" alt="deletar categoria"></button>
                            </form>
                            
                    </th>
                </tr>    
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmExclusion(event, form){
        event.preventDefault();
        var decision = confirm("Você deseja realmente apagar esta categoria ?");
        if(decision){
            form.submit();
        } else {
            console.log("User aborted exclusion!");
        }
    }
</script>