<%- include('partials/header') %>
<body>
    <div class="container">
        <div class="card" style="margin-top: 2%;">
            <div class="card-header">
                <h1><%= article.title %></h1> 
            </div>

            <div class="card-body">
                <!-- Quando usamos <%- %> do ejs, ele mantem a formatação da variável caso ela exista -->
                <%- article.body %>
            </div>
        </div>
    </div>
</body>

<%- include('partials/footer') %>